<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="http://www.youtube.com/player_api"></script>
  <script src="/javascripts/rankingmusic.js"></script>
  <script src="/javascripts/search.js"></script>
  <script src="/javascripts/logoutNfriends.js"></script>
  <script src="/javascripts/reload.js"></script>
  <script src="/javascripts/mypage.js"></script>
  <script src="/javascripts/playlist_LinkedList.js"></script>
  <script src="/javascripts/sRP_AddnRemoveBtn.js"></script>
  <script src="/javascripts/playlistDisplay.js"></script>
  <script src="/javascripts/sRP_clickThumbnail.js"></script>
  <script src="/javascripts/init.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" type="text/css" href="/stylesheets/Playlist.css">
  <title>main</title>
</head>

<body>
  <script src="/javascripts/youtubeplayer.js"></script>
  <div class="parent">
    <div id="reloadSection">
      <div class="topSection">
        <div class="searchBar"> <!--검색버튼과 입력창-->
          <select name="search" id="sel_search">
            <option value="normal" selected="selected">Artist & Title</option>
            <option value="mood">Mood Search</option>
          </select>
          <input id="inputText" type="text"></input>
          <button id="searchBtn" type="button" onclick="onclickSearch()">검색</button>
        </div>
        <div class="mainBar">
          <button id="mainBtn" type="button" onclick="reloadMain()"><img id="mainbtn-img" src="/images/SSS.jpg"></button>
        </div>
        <div class="logoutBar">
          <button id="logoutBtn" onclick="logout()">로그아웃</button>
          <span id="userName"><%=user.nickname%>님 안녕하세요. &nbsp; </span>
          <button id="myPageBtn" onclick="onclickMyPage()">마이 페이지</button>
          <button id="friendsBtn" onclick="friends()">친구</button>
        </div>
      </div>
      <div class="_3cover">
        <div id="Playlist" style="background-color: white"><h1>여기는 플레이리스트</h1></div>
        <script>var listss="<%= JSON.stringify(list) %>"; listss=listss.replace(/&#34;/gi,'\"');
        listss=JSON.parse(listss);
        init(listss,<%= listnum %>);</script>
        <div id="searchResultPage"> <!--검색버튼 클릭 시 2,3번을 검색 결과로 전환해주는 div-->
          <div class="SNS" style="background-color: yellow"><h1>여기는 SNS</h1>
            <button id="createBtn" type="button" onclick="window.open('creates', 'win', 'width=800, height=800, top=80, left=550')">새 글 작성</button>
            <% for(var i=0; i<boards.length; i++){ %>
              <div style="background-color: white; font-size:16px; border:1px solid black;">
                <img src="<%= boards[i].img %>" width="600" height="500" />
                <br>
                <tr>
                  <td>
                    <%= boards[i].text %>
                  </td>
                </tr>
                <br>
                <br>
              </div>
              <% } %>
            </div>
            <div class="Ranking"  style="background-color: green"><h1>여기는 친구들 랭킹</h1></div>
          </div>
        </div>
      </div>
      <div class="MusicPlayer" style="background-color: black">
        <button id="psBtn" type="button" onclick="onclickPS()"><img id="psbtn-img" src="/images/pb.png"></button>
        <button id="ppBtn" type="button" onclick="onclickPP()"><img id="btn-img" src="/images/play.png"></button>
        <button id="nsBtnBtn" type="button" onclick="onclickNS()"><img id="nsbtn-img" src="/images/pp.png"></button>
        <div id="player" style="width:0%; height:0%" >
          <iframe width="100" height="100" src="https://www.youtube.com/embed/pQV0WEdT_OE" controls="2" frameborder="0" rel="0" fs="0" controls=0 disablekb="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </body>
  </html>
